$color-primary: #0f2862;
$color-secondary: #9e363a;
$color-tertiary: #091f36;
$color-quaternary: #4f5f76;

$color0: #1d1d2c; //#2e3830; //#2c3531;
$color1: #505e95; //#1d1d2c; //#2c3531;
$color2: #9e363a; //#116466;
$color3: #cccccc; //#d9b08c;
$color4: #3cbcc3;
$color5: #e56b1f;
$color6: #438945;
$color7: #d1e8e2;
