@import "./sass/variables.scss";

.App {
  display: grid;
  grid-template-columns: 2fr 10fr;

  @media only screen and (max-width: 40.25em) {
    display: flex;
    flex-direction: column;
  }
}

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 3rem;
    display: inline-block;
    border-radius: 1rem;
    position: relative;
    font-size: 1.5rem;
    animation-name: moveInBottom;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    transition: all 0.2s;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(#000000, 0.2);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(#bebebe, 0.2);
  }

  &--contrast {
    margin: 1rem auto;
    font-weight: 700;
    font-size: 3.2rem;
    background-color: $color2;
    color: $color7;
  }

  &--project {
    background-color: $color7;
    color: $color1;
  }

  &:hover {
    box-shadow: 0 1rem 2rem rgba(#bebebe, 0.15);
    transform: translateY(-0.3rem);
  }
  &:active {
    box-shadow: 0 1rem 2rem rgba(#bebebe, 0.15);
    transform: translateY(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
